title: open-atmos-krk team
url: http://open-atmos-krk.github.io

exclude: [bibble, README.md, Makefile, screenshot.png]

# colorize code snippets with the pygments module
highlighter: pygments

# The path structure for blog posts.
permalink: /blog/:year/:month/:day/:title.html

# Sections on the "people" page.
roles:
  - key: faculty
    name: Faculty
  - key: grad
    name: Graduate Students
  - key: ugrad
    name: Undergraduate Students
  - key: alum
    name: Alumni

# Number of news stories on the front page.
front_page_news: 8

# Base pathname for links.
base: ''

# make pages for the _projects folder
collections:
  projects:
    output: true

# Navigation bar links.
navigation:
  - title: Home
    link: /
  - title: People
    link: /#people
  - title: Projects
    link: /projects.html
  - title: Journal Club
    link: /journal_club.html
  - title: Publications
    link: /publications.html
