---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 12
    image: true
- - roles: [grad]
    width: 12
    image: true
- - roles: [ugrad]
    width: 6
    image: true
  - roles: [alum]
    width: 6
    image: true

---

<img align="right" src="/img/team.jpg" alt="team" class="pic" />
<div class="jumbotron" style="background-color:#afdae3">
    <p>
        We are a team of students, researchers and developers at the
          <a href="https://agh.edu.pl/en/"><b>AGH University of Krakow</b></a> &#x1F393; in&nbsp;Poland &#x1F1F5;&#x1F1F1;.
        Our activities concern free/libre and open-source software for
          Earth science &#x1F30D;, and&nbsp;<a href="https://en.wikipedia.org/wiki/Cloud_physics"><b>cloud physics</b></a>&nbsp;&#127783;&#65039; in particular.
        We develop example-rich tools to support reproducible computational research, 
          while promoting best practices in <b>research software engineering</b>.
        Our&nbsp;team contributes to the open-source ecosystem we rely on.
        We explore modern, transferable technologies that are useful both within and beyond academia.
        Most of the projects we develop, maintain, and contribute to&nbsp;are hosted at 
          <a href="https://github.com/open-atmos">github.com/open-atmos</a>,
          while the <a href="https://en.wikipedia.org/wiki/Krak%C3%B3w">Kraków</a> airport IATA code is KRK, hence <b>open-atmos-krk</b> 😉.
    </p>
</div>
<div class="jumbotron" style="background-color:#afdae3; justify-content: space-between; display: flex; align-items: center; flex-wrap: wrap; gap: 1rem; padding-top: .5em">
      <a href="https://fnp.org.pl/en"><img src="/img/logofnp.svg" alt="logo FNP" height="40px" style="max-width: 100%" /></a>
      <a href="https://ncn.gov.pl/en"><img src="/img/logoncn.svg" alt="logo NCN" height="40px" style="max-width: 100%" /></a>
      <a href="https://excellence.agh.edu.pl/"><img src="/img/logoidubagh.svg" alt="logo IDUB" height="40px" style="max-width: 100%" /></a>
      <a href="https://erasmus-plus.ec.europa.eu/"><img src="/img/logoerasmus.svg" alt="logo Erasmus+" height="40px" style="max-width: 100%" /></a>
</div>

<div id="team">
    <h2>Team</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
