---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty]
    width: 12
    image: true
- - roles: [grad]
    width: 12
    image: true
- - roles: [ugrad]
    width: 6
    image: true
  - roles: [alum]
    width: 6
    image: true

---

<img align="right" src="/img/team.jpg" alt="team" class="pic" />
<div class="jumbotron">
    
    <p>
        We are a team of students, researchers and developers based at the <b>AGH University of Krakow</b> in Poland.
        Our activities concern open-source software for
          atmospheric sciences, and <b>cloud physics</b> in particular.
        We develop open, example-rich tools to support reproducible computational research, 
          while promoting best practices in <b>research software engineering</b>.
        Our team contributes to the open-source ecosystem we rely on.
        We explore modern, transferable technologies that are useful both within and beyond academia.
        Most of the projects we develop, maintain, and contribute to are hosted at 
          <a href="https://github.com/open-atmos">github.com/open-atmos</a>,
          while the Kraków airport IATA code is KRK, hence <b>open-atmos-krk</b> 😉.
    </p>
</div>
<div class="jumbotron" style="justify-content: space-between; display: flex; align-items: center; flex-wrap: wrap; gap: 1rem;">
      <img src="/img/logofnp.svg" alt="logo FNP" height="30px" style="max-width: 100%" />
      <img src="/img/logoncn.svg" alt="logo NCN" height="30px" style="max-width: 100%" />
      <img src="/img/logoidubagh.svg" alt="logo IDUB" height="30px" style="max-width: 100%" />
</div>

<div id="team">
    <h2>Team</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
