
{% assign item = include.item %}
{% if item.icon %}
{% assign icon = item.icon %}
{% assign class = "shortnews" %}
{% else %}
{% assign icon = "newspaper-o" %}
{% endif %}

{% capture news %}
    <div>
        {% if post.shortnews %}
            {{ post.content | markdownify | remove: '<p>' | remove: '</p>' }}
        {% else %}
            <h5> <a href="{{ site.base }}{{ post.url }}"> {{ post.title }} </a> </h5>
            {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
            <br>
            <a href="{{ site.base }}{{ post.url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
{% endcapture %}

{% capture header %}
<span class="fa fa-fw fa-{{ icon }}"></span>
<span class="date">{{ post.date | date: '%B %Y' }}</span>
{% endcapture %}

<li class="{{ class }}">
    {% if post.image %}

        {% capture img %}
            <img class="rounded"
                 style="width:100px; height:auto; padding:10px"
                 src="{{ post.image }}">
        {% endcapture %}

        <div class="d-flex align-items-start">
            <div class="flex-shrink-0" style="width:100px">
                {% if post.image_link %}
                    <a href="{{ post.image_link }}">{{ img }}</a>
                {% else %}
                    {{ img }}
                {% endif %}
            </div>
            <div class="flex-grow-1 ms-3">
                {{ header }}
                {{ news }}
            </div>
        </div>
     {% else %}
        {{ header }}
        {{ news }}
    {% endif %}
</li>
